<div class="welcome">
  Product edit page for: <span class="greeting"><%=@product.name%></span>
</div>

<ul class="product-attr-list">
  <li class="product-image">
    <%= image_tag(@product.image_url) %>
  </li>
  <li class="product-name"> <%= @product.name %>       </li>
  <li class="product-description"><span class="attr-name">Product Description:</span><br><%= @product.description %></li>
  <li class="product-options"><span class="attr-name">Options:</span>    </li>
    <ul>
      <% if @product.product_options.any? %>
        <% @product.product_options.each do |o| %>
          <li><%=o.name%>: $<%= sprintf('%.2f', (o.price_in_cents/100))%></li>
        <% end %>
      <% else %>
        <li> Price TBD </li>
      <% end %>
      <li class="add-product-option">
        <span>Add Product Option:</span>
        <%= form_for @product_option do |p| %>
          <div>
            <%= p.label      :name %>
            <%= p.text_field :name %>
          </div>
          <div>
            <%= p.label       :price_in_cents %>
            <%= p.text_field  :price_in_cents %>
          </div>
          <%= p.submit        id: :submit_product_option%>
        <% end %>
      </li>
    </ul>
</ul>

<div class="edit-product-attrs">
  <h3>Edit <%= @product.name %>:</h3>
  <form action="/products/<%=@product.id%>" method="POST">
      <input type="hidden" name="authenticity_token"   value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method"              value="PATCH">
      <label for="product[name]">Name:</label>
      <input type="text"   name="product[name]">
      <br>
      <label for="product[description]">Description:</label>
      <input type="text"   name="product[description]">
      <input type="submit" value="Update">
      <br>

  </form>
</div>

<div class="delete-product">
  <h3>Delete this product: </h3>
  <form action="/products/<%=@product.id%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="delete-button" value="Delete" data-confirm:"Are you sure?">
  </form>
</div>
