<div class="welcome">
  <div>
    Hello, <span class="greeting">admin</span>. Here are all of the products:
  </div>

  <div class="switch-view">
    Switch to <%= link_to "orders", orders_path %> view
  </div>
</div>

  <table>
    <thead>
      <tr>
        <th>Name          </th>
        <th>Description   </th>
        <th>Price         </th>
        <th>Edit          </th>
        <th>Delete        </th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
      <tr>
        <th><%= p.name %></th>
        <td><%= p.description %></td>
        <% if p.product_options.any? %>
          <td><strong>Price:</strong> <%= sprintf('%.2f', (p.product_options.find_by(name:"standard price").price_in_cents.to_f/100.to_f))%></td>
        <% else %>
          <td> Price TBD </td>
        <% end %>
        <td>
          <%= link_to "Edit", edit_view_path(p.id) %>
        </td>
        <td>
          <form action="/products/<%=p.id%>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="delete-button" value="Delete" data-confirm:"Are you sure?">
          </form>
        </td>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Add new product", new_product_path %>
  <br>
  <br>
  <br>
  <%= link_to "Orders", orders_path %>
