<div class="welcome">
  <% if @current_user %>
    Hello, <span class="greeting"><%=@current_user.email%></span>. Here is your cart:</h1>
  <% end %>
</div>

<div class="row">
  <% if @current_order.items.count == 0 %>
    <span class="col-lg-12 empty-cart-message">Your cart is empty. Go buy something!</span>
  <% else %>
    <% @current_order.items.each do |i| %>
      <ul class="col-lg-10 col-lg-push-1 cart-item-block">
        <li class="col-lg-3 cart-item-image"><%= link_to image_tag(i.product_option.product.small_image_url), show_product_path(i.product_option.product.id)  %></li>
        <li class="col-lg-3 cart-item-name" ><%= link_to i.product_option.product.name, show_product_path(i.product_option.product.id) %>  </li>
        <li class="col-lg-2 cart-item-price">$<%= sprintf('%.2f', (i.price/100))%> </li>
        <li class="col-lg-2 cart-item-qty"  >Quantity in cart: <%= i.quantity %>   </li>
        <li class="col-lg-2 delete-item">
          <form action="/items/<%=i.id%>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger" value="Remove" data-confirm:"Are you sure?">
          </form>
        </li>
      </ul>
    <% end  %>
  <% end  %>
</div>

<div class="row cart-next-options">
  <button class="col-lg-4 col-lg-push-1 btn btn-xl"> <%= link_to "Keep Shopping", home_path %></button>
  <button class="col-lg-4 col-lg-push-3 btn btn-xl"> <%= link_to "Checkout" , checkout_path %></button>
</div>
