<div class="welcome">
  <div>
    Hello, <span class="user-name">admin</span>. Here are all of the orders:
  </div>
</div>

<table class="all-orders">
  <thead>
    <tr>
      <th>Completed at      </th>
      <th>Order ID           </th>
      <th>Name              </th>
      <th>Shipping Address  </th>
      <th>Total             </th>
      <th>Status            </th>
      <th>Shipped            </th>
    </tr>
  </thead>

  <tbody>
    <% @orders.sort.reverse.each do |o| %>
      <tr>
        <th><%= o.updated_at.localtime.strftime("%m/%d %y, %l:%M%p") %></th>
        <td><strong><%= link_to o.id %></strong></td>
        <td><%= o.name %></td>
        <td><%= o.shipping_address %></td>
        <td>$<%= sprintf('%.2f', (o.total/100)) %></td>
        <td><%= o.status %></td>
        <td> [shipped checkbox] </td>
      </tr>
    <% end %>
  </tbody>
</table>
