
  <div class="welcome">
    <% if @current_user %>
      Hello, <span class="greeting"><%=@current_user.email%></span>. Here are some products:</h1>
    <% else %>
      <span class="greeting">Hello.</span> Here are some products:
    <% end %>
  </div>

  <ul class = "all-product-list">
    <% @products.each do |p| %>
      <li class="index-product-block">
        <ul class="product-attr-list">
          <li class="product-image">
            <%= link_to image_tag(p.small_image_url), show_product_path(p.id) %>
          </li>
          <li class="product-name"><%= link_to p.name, show_product_path(p.id) %></li>
          <li class="product-description">
            <!-- <span>Beaked sandfish zebra pleco french angelfish bullhead frilled shark spotted danio; ilisha, priapumfish pencil catfish thornfish. Oriental loach stonefish loach piranha, "swamp-eel sand goby loach minnow dogfish Rasbora mahi-mahi ricefish temperate perch Modoc sucker dottyback." California smoothtongue seahorse limia thornfish guitarfish greenling huchen lancetfish gray eel-catfish. </span> -->
          </li>
          <% if p.product_options.any? %>
            <li> <%= p.product_options.find_by(name:"standard price").name%>: $<%= sprintf('%.2f', (p.product_options.find_by(name:"standard price").price_in_cents/100))%></li>
          <% else %>
            <li> Price TBD </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
