<h1>product-specific page for: <span class="product-name"><%=@product.name%></span></h1>

  <ul>
    <li><strong>Name:       </strong> <%= @product.name %></li>
    <li><strong>Description:</strong> <%= @product.description %></li>
    <li><strong>Image:      </strong> TBD! </li>
    <li><strong>Options:</strong></li>
      <ul>
        <% @product.product_options.each do |o| %>
          <li><%= o.name %>: <%= o.price_in_cents/100 %> </li>
        <% end %>
      </ul>
  </ul>

  <br>
