<div class="row product-container">
  <div class="col-lg-6 product-left">
    <span class="col-lg-12 setup">Learn more about:</span>

    <div class="col-lg-12 product-image-container">
      <%= image_tag(@product.image_url) %>
    </div>
  </div>

  <div class="col-lg-6 product-right">
    <span class="col-lg-12 greeting product-name"><%=@product.name%></span>

    <div class="col-lg-12 product-attrs-container">
      <div class="col-lg-12 product-description-container">
        <span class="attr-name">Product Description:</span>
        <span class="col-lg-12 product-description"><%= @product.description %></span>
      </div>
      <div class="col-lg-12 product-options-container">
        <span class="attr-name">Options:</span>
        <div class="product-options">
          <ul>
            <% if @product.product_options.any? %>
              <% @product.product_options.each do |o| %>
                <li><%=o.name%>:<%= sprintf('%.2f', (o.price_in_cents/100))%></li>
              <% end %>
            <% else %>
              <li> Price TBD </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row prev-next-product">
  <div class="col-lg-6 prev-product">
    <%= link_to "Previous Product", "/products/#{@product.id-1}" %>
  </div>
  <div class="col-lg-6 next-product">
    <%= link_to "Previous Product", "/products/#{@product.id+1}" %>
  </div>
</div>
