<div class="welcome">
  Product-specific page for: <span class="greeting"><%=@product.name%></span>
</div>

  <ul class="product-attr-list">
    <li class="product-image">
      <%= link_to (image_tag("http://placekitten.com/451/450")), show_product_path(@product.id) %>
    </li>
    <li class="product-name"> <%= @product.name %>       </li>
    <li class="product-description"><span class="attr-name">Product Description:</span><br><%= @product.description %></li>
    <li class="product-options"><span class="attr-name">Options:</span>    </li>
      <ul>
        <% if @product.product_options.any? %>
          <% @product.product_options.each do |o| %>
            <li><%=o.name%>:<%= sprintf('%.2f', (o.price_in_cents/100))%></li>
          <% end %>
        <% else %>
          <li> Price TBD </li>
        <% end %>
      </ul>
  </ul>
