<div class="row welcome-container">
  <div class="col-lg-6 setup">   Learn more about: </div>
  <div class="col-lg-6 greeting product-name"><%=@product.name%></div>
</div>

<div class="row product-container">
  <div class="col-lg-6 product-image-container">
    <%= image_tag(@product.image_url) %>
  </div>
    <div class="col-lg-6 product-attrs-container">
      <div class="col-lg-12 product-description-container">
        <span class="attr-name">Product Description:</span>
        <span class="col-lg-12 product-description"><%= @product.description %></span>
      </div>
      <div class="col-lg-12 product-options-container">
        <span class="attr-name">Options:</span>
        <div class="product-options">
          <ul>
            <% if @product.product_options.any? %>
              <% @product.product_options.each do |o| %>
                <li><%=o.name%>:<%= sprintf('%.2f', (o.price_in_cents/100))%></li>
              <% end %>
            <% else %>
              <li> Price TBD </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
