<!DOCTYPE html>
<html>
<head>
  <title>Store Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  <div class="header">
    <div class="header-container">
      <div class="logo"><span class="home-link"><%= link_to "home", home_path %></span></div>
      <div class="login-container">
        <% if @current_user %>
          <small>Hello, <%= @current_user.email %></small>
          <%= link_to "Sign Out", "/sign-out" %>
        <% else %>
          <%= form_tag "/sign-in" do %>
            e-mail
            <%= text_field_tag     :email %>
            password
            <%= password_field_tag :password %>

            <%= submit_tag "Sign in" %>
          <% end %>

          <div class="create-account-link">
            <%= link_to "Create Account", "/sign-up" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
