<!DOCTYPE html>
<html>
<head>
  <title>Store Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="header">
    <div class="header-container">
      <div class="logo"> <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/store-project/placekitten-logo-68-67.jpeg?X-Amz-Date=20151204T220028Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=fd85570a350440bad1919cfd8496948d522365da1e92e5dba82aaf1e1eb2d36c&X-Amz-Credential=ASIAIFVWYYHBPAE4RL3A/20151204/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEDcakAJQEeURTLQbl319P1msNJk%2BX2dY9rjsbO8yg6XS7qTjVLcqaJ0p5kZ38cvUq/aLwxfRIO0doKVRvefhGuVV%2BOYOpMFvjC9L3frqD9usf8tQjsNWLLx9HIPkTIh%2BwfDXBV1Znx7ed%2BsMbZgdKhx5LGwJpFEme6GJIVX%2BelJ%2BF9Em2eyJryObiMrCUM/NrxATb6eH79ZSWQDsucgBL/qeKhtzp5QykvzDRmvPeXj0EEOdMTNG5UXkNUQa5M5QgOK8zAZHvFnjjXgk/UbsP0Z3jPwhwGPYxps4cqthXsoY6S3BZwCFqzLoMY3It/XXqTvElI3xAdymY18agPujzXQdc4aWP3oOUCKi6hfyI/PZu7hwmCDtkoizBQ%3D%3D"), home_path %></div>

      <div class="login-container">
        <% if @current_user %>
          <small>Hello, <%= @current_user.email %></small>
          <%= link_to "Sign Out", "/sign-out" %>
          <br>
          <% if @current_user.email != "admin" %>
            <span class="cart-link"> <%= link_to "my cart", user_cart_path(session[:user_id]) %></span>
            <br>
            <span class="account-link"> <%= link_to "my account", user_account_path(session[:user_id]) %></span>
          <% end %>

        <% else %>
          <%= form_tag "/sign-in" do %>
            <div class="form-field">
              <label for="email">email</label>
              <%= text_field_tag     :email %>
            </div>
            <div class="form-field">
              <label for="password">password</label>
              <%= password_field_tag :password %>
            </div>
            <%= submit_tag "Sign in" %>
          <% end %>

          <div class="create-account-link">
            <%= link_to "Create Account", "/sign-up" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
