<!DOCTYPE html>
<html>
<head>
  <title>Store Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "BrandName", home_path, class:"navbar-brand" %>

          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".menu-wrapper">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="menu-wrapper collapse navbar-collapse">
          <div class="navbar-right">
            <% if @current_user %>
              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <% if @current_user.username != "admin" %>
                    <% if @current_order == nil  %>
                      <li><%= link_to  "my cart (0)", user_cart_path(session[:user_id])%></li>
                      <li><%= link_to "my account", user_account_path(session[:user_id]) %></li>
                    <% else %>
                      <li><%= link_to  "my cart (#{@current_order.items.count})", user_cart_path(session[:user_id])%></li>
                      <li><%= link_to "my account", user_account_path(session[:user_id]) %></li>
                    <% end %>
                  <% end %>
                </ul>

                <button class="btn btn-warning sign-out"><%= link_to "Sign Out", "/sign-out" %></button>
              </div>

            <% else %>

              <div class="navbar-right">
                <%= form_tag sign_in_path, class:"navbar-form" do %>
                  <div class="form-group">
                    <input type="username", name="username", placeholder="username", class="form-control">
                  </div>

                  <div class="form-group">
                    <input type="password", name="password", placeholder="password", class="form-control">
                  </div>

                  <input type="submit", value="Sign In", class="btn btn-md btn-primary">

                    <button class="btn btn-success btn-md create-account"><%= link_to "Create Account", sign_up_path %></button>
                <% end %>
              </div>


            <% end %>
        </div>
      </div>
    </nav>


    <div class='container page-content'>
      <%= yield %>
    </div>

      <!-- <footer class="footer">
        <div class="container">
          <p class="text-muted">footer content will go here</p>
        </div>
      </footer> -->

</body>
</html>
